<footer id="page-footer small-font blue">
    <div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <h6>Social Media</h6>
            <ul>
                <li class="footer-link"><a href="https://twitter.com/bsidesboulder">Twitter</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <h6>Organization</h6>
            <ul>
                <li class="footer-link"><a href="/transparency/">Transparency</a></li>
            </ul>
        </div>
        <div class="col-md font-small">
                All of the information located on these pages are maintained by BSides
                Boulder.  If there are any issues please feel free to open an issue at <a
                href="https://github.com/punkcoder/site.bsidesboulder">BSides Boulder
                Github</a>, <a href="https://twitter.com/punkcoder">@punkcoder</a> on
                twitter, or in the #bsidesboulder channel on slack and I will try to get it
                fixed asap.
        </div>
    </div>
</div>   
</footer>