<div class="footer">
    <div class="uk-container">
        <div uk-grid>

        
        <div class="uk-card uk-card-small uk-card-body footer-card">
            <h3 class="uk-card-title footer-card">Social Media</h3>
            <ul>
                <li>Slack</li>
                <li>Twitter</li>
                <li>Facebook</li>
            </ul>
        </div>
        <div class="uk-card uk-card-small uk-card-body footer-card">
            <h3 class="uk-card-title footer-card">Organization</h3>
            <ul>
                <li>About Us</li>
                <li>Transparency</li>
            </ul>  
        </div>
    </div>
    </div>
</div>