<div class="footer">
    <div class="uk-container">
        <div uk-grid>

        
        <div class="uk-card uk-card-small uk-card-body footer-card">
            <h3 class="uk-card-title footer-card">Social Media</h3>
            <ul>
                <li><a href="https://boulderinfosec.slack.com/" target="_blank">Slack</a></li>
                <li><a href="https://twitter.com/bsidesboulder" target="_blank">Twitter</a></li>
                <!-- <li><a href="https://www.facebook.com/groups/511752762995313/" target="_blank">Facebook</a></li> -->
            </ul>
        </div>
        <div class="uk-card uk-card-small uk-card-body footer-card">
            <h3 class="uk-card-title footer-card">Organization</h3>
            <ul>
                <li><a href="/about/">About Us</a></li>
                <li><a href="/transparency/">Transparency</a></li>
            </ul>  
        </div>
    </div>
    </div>
</div>