<link rel="stylesheet" href="/node_modules/uikit/dist/css/uikit.min.css" />
<link rel="stylesheet" href="/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<link rel="stylesheet" href="/css/bsides2020v2.css" />
<link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Assistant&family=Inter&family=Nunito+Sans&family=Roboto+Mono&display=swap" rel="stylesheet">
