<div class="sponsors-list">
    <div class="sponsor-level">
        <div class="sponsor-leading-level-heading">Leading Level</div>
        {{ range $.Site.Data.sponsors }}
            {{ if eq .sponsor.level "leading" }}
                {{ partial "sponsor" . "leading" }}
            {{ end }}
        {{ end }}
    </div>
    <div class="sponsor-level">
        <div class="sponsor-leading-level-heading">Contributing Level</div>
        {{ range $.Site.Data.sponsors }}
            {{ if eq .sponsor.level "contributing" }}
                {{ partial "sponsor" . "contributing" }}
            {{ end }}
        {{ end }}
    </div>
    <div class="sponsor-level">
        <div class="sponsor-leading-level-heading">Supporting Level</div>
        {{ range $.Site.Data.sponsors }}
            {{ if eq .sponsor.level "supporting" }}
                {{ partial "sponsor" . "supporting" }}
            {{ end }}
        {{ end }}
    </div>
</div>