<div class="form">
    <form action="https://forms.punkcoder.com/forms.php" method="POST">
        <input type="hidden" name="_formname" value="bsb202vol" />
        <input type="hidden" name="_atstr" value="" />
        <input type="hidden" name="_Failure_url" value="https://bsidesboulder.org/volunteer/failure/" />
        <input type="hidden" name="_success_url" value="https://bsidesboulder.org/volunteer/success/" />
        
        <div class="form-group">
            <label for="FirstName">First Name:</label>
            <input type="text" name="FirstName" id="FirstName" placeholder="Frist Name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="LastName">Last Name:</label>
            <input type="text" name="LastName" id="LastName" placeholder="Last Name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Email">Email Address:</label>
            <input type="text" name="Email" id="Email" placeholder="joe@anydomain.com" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Phone">Phone Number:</label>
            <input type="text" name="Phone" id="Phone" placeholder="720-111-1111" class="form-control" />
        </div>
        <div class="form-group">
            <label for="VolArea">Volunteer Area</label>
            <select name="VolArea" class="form-control" id="VolArea">
                <option>I will help where needed!</option>
                <option>Graphic Design</option>
                <option>Sponsor Services</option>
                <option>Call of Papers</option>
                <option>Audio/Visual</option>
                <option>Marketing</option>
                <option>Swag</option>
                <option>Social Media</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" name="Submit" value="Submit" class="btn btn-primary">Become a Volunteer</button>
        </div>

    
    </form>

</div>