<div class="container keynote-speaker-container">
    {{ range $.Site.Data.speakers }}
        {{if eq .speaker.keynote_speaker true}}

            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <img src="/img/speaker/unoptimized/{{ .speaker.photo }}" alt="" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">{{ .speaker.first_name }} {{.speaker.last_name}}</h3>
                        <p>                
                            <div class="keynote-title">{{ .speaker.title}}, {{ .speaker.company }}</div>
                            <div class="keynote-session">Session: {{ .speaker.session_title}}</div>
                            <div class="keynote-bio">{{.speaker.bio}}</div>
                            <div class="keynote-twitter">Twitter:
                            {{.speaker.twitter}}</div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="Container">
                <div class="keynote-photo"><img src="" /></div>
                <div class="keynote-name"> </div>

            </div>
        {{ end }}
    {{ end }}
</div>