<table class='uk-table uk-table-striped uk-table-hover'>
    <thead>
        <tr>
            <th>Time</th>
            <th>Track 1</th>
            <th>Track 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>8:00 am</td>
            <td colspan="2">Stream Opens</td>
        </tr>
        <tr>
            <td>9:00 am</td>
            <td colspan="2">Opening Remarks - BSidesBoulder Team</td>
        </tr>
        <tr>
            <td>9:30 am</td>
            <td colspan="2">Keynote - <a href="/speakers/#Erika-Noerenburg">Erika Noerenburg</a></td>
        </tr>
        <tr>
            <td>10:30 am</td>
            <td>Session 1 - <a href="/sessions/#youre-doing-it-wrong-aka.-a-programmatic-approach-to-enterprise-security">You're Doing It WRONG! (Aka. a programmatic approach to enterprise security)</a></td>
            <td>Session 1 - <a href="/sessions/#getting-into-writing-windows-1-days-with-bluekeep">Getting into Writing Windows 1-days with BlueKeep</a></td>
        </tr>
        <tr>
            <td>11:30 am</td>
            <td>Session 2 - <a href="/sessions/#the-future-of-destructive-malware">The Future of Destructive Malware</a></td>
            <td>Session 2 - <a href="/sessions/#detecting-dns-tunneling">Detecting DNS Tunneling</a></td>
        </tr>
        <tr>
            <td>12:30 pm</td>
            <td colspan="2">Lunch</td>
        </tr>
        <tr>
            <td>1:30 pm</td>
            <td>Session 3 - <a href="/sessions/#begining-pentesting-android-application">Begining Pentesting Android Application</a></td>
            <td>Session 3 - <a href="/sessions/#anatomy-of-a-gopher-binary-analysis-of-go-binaries">Anatomy of a Gopher - Binary Analysis of Go Binaries</a></td>
        </tr>
        <tr>
            <td>2:30 pm</td>
            <td>Session 4 - <a href="/sessions/#mose-using-configuration-management-for-evil">MOSE: Using Configuration Management for Evil</a></td>
            <td>Session 4 - <a href="/sessions/#wild-blue-yonder-dissecting-the-bluekeep-windows-exploit">Wild Blue Yonder: Dissecting the BlueKeep Window's Exploit</a></td>
        </tr>
        <tr>
            <td>3:30 pm</td>
            <td>Session 5</td>
            <td>Session 5</td>
        </tr>
        <tr>
            <td>4:30 pm</td>
            <td>Closing Session</td>
        </tr>
    </tbody>
</table>
