<table class='uk-table uk-table-striped uk-table-hover'>
    <thead>
        <tr>
            <th>Time</th>
            <th>Track 1</th>
            <th>Track 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>8:00 am</td>
            <td colspan="2">Stream Opens</td>
        </tr>
        <tr>
            <td>9:00 am</td>
            <td colspan="2">Opening Remarks - BSidesBoulder Team</td>
        </tr>
        <tr>
            <td>9:30 am</td>
            <td colspan="2">Keynote - <a href="/speakers/#erika-noerenburg">Erika Noerenburg</a></td>
        </tr>
        <tr>
            <td>10:30 am</td>
            <td>Session 1</td>
            <td>Session 1</td>
        </tr>
        <tr>
            <td>11:30 am</td>
            <td>Session 2</td>
            <td>Session 2</td>
        </tr>
        <tr>
            <td>12:30 pm</td>
            <td colspan="2">Lunch</td>
        </tr>
        <tr>
            <td>1:30 pm</td>
            <td>Session 3</td>
            <td>Session 3</td>
        </tr>
        <tr>
            <td>2:30 pm</td>
            <td>Session 4</td>
            <td>Session 4</td>
        </tr>
        <tr>
            <td>3:30 pm</td>
            <td>Session 1</td>
            <td>Session 1</td>
        </tr>
        <tr>
            <td>4:30 pm</td>
            <td>Closing Session</td>
        </tr>
    </tbody>
</table>