<table class='uk-table uk-table-striped uk-table-hover'>
    <thead>
        <tr>
            <th>Time</th>
            <th>Track 1</th>
            <th>Track 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>8:00 am</td>
            <td colspan="2">Stream Opens</td>
        </tr>
        <tr>
            <td>9:00 am</td>
            <td colspan="2">Opening Remarks - BSidesBoulder Team</td>
        </tr>
        <tr>
            <td>9:30 am</td>
            <td colspan="2">Keynote - <a href="/speakers/#Erika-Noerenburg">Erika Noerenburg</a></td>
        </tr>
        <tr>
            <td>10:30 am</td>
            <td>Session 1 - You're Doing It WRONG! (Aka. a programmatic approach to enterprise security)</td>
            <td>Session 1 - Getting into Writing Windows 1-days with BlueKeep</td>
        </tr>
        <tr>
            <td>11:30 am</td>
            <td>Session 2 - The Future of Destructive Malware</td>
            <td>Session 2 - Detecting DNS Tunneling</td>
        </tr>
        <tr>
            <td>12:30 pm</td>
            <td colspan="2">Lunch</td>
        </tr>
        <tr>
            <td>1:30 pm</td>
            <td>Session 3 - Begining Pentesting Android Application</td>
            <td>Session 3 - Anatomy of a Gopher - Binary Analysis of Go Binaries</td>
        </tr>
        <tr>
            <td>2:30 pm</td>
            <td>Session 4 - MOSE: Using Configuration Management for Evil</td>
            <td>Session 4 - Wild Blue Yonder: Dissecting the BlueKeep Window's Exploit</td>
        </tr>
        <tr>
            <td>3:30 pm</td>
            <td>Session 5</td>
            <td>Session 5</td>
        </tr>
        <tr>
            <td>4:30 pm</td>
            <td>Closing Session</td>
        </tr>
    </tbody>
</table>
