<div class="container speaker-container">
    {{ range $.Site.Data.speakers }}
        {{if eq .speaker.keynote_speaker false}}
            <a name="{{urlize .speaker.first_name}}-{{ urlize .speaker.last_name}}"></a>
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin speaker-card" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <img src="/img/speaker/unoptimized/{{ .speaker.photo }}" alt="" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">{{ .speaker.first_name }} {{.speaker.last_name}}</h3>
                        <p>                
                            <div class="speaker-title">{{if ne .speaker.title ""}}{{ .speaker.title}}, {{end}}{{if ne .speaker.company ""}}{{ .speaker.company }}{{end}}</div>
                        <div class="speaker-session">Session: <a href="/sessions/#{{urlize .speaker.session_title}}">{{ .speaker.session_title}}</a></div>
                            <div class="speaker-bio">{{.speaker.bio}}</div>
                            {{ if ne .speaker.twitter "" }}
                            <div class="speaker-twitter">Twitter: <a href="https://www.twitter.com/{{.speaker.twitter}}" target="_blank">@{{.speaker.twitter}}</a></div>
                            {{end}}
                        </p>
                    </div>
                </div>
            </div>

        {{ end }}
    {{ end }}
</div>